[package]
name = "okapi"
description = "Structs for OpenAPI (AKA Swagger) documents"
repository = "https://github.com/GREsau/okapi"
version = "0.3.0"
authors = ["Graham Esau <gesau@hotmail.co.uk>"]
edition = "2018"
license = "MIT"
keywords = ["rust", "openapi", "swagger"]

[features]
derive_json_schema = ["schemars/derive_json_schema"]

[dependencies]
schemars = "0.6.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
